<div class="wiki_create">
  <%= form_for @wiki do |f| %>
   <%= f.label :title %>
   <%= f.text_field :title, class: 'create_body' %>
   <div class="create">
       <%= f.label :body %>
       <%= f.text_area :body, class: 'create_body', id: 'wiki_body' %>
   </div>
   <%= f.submit "Save", class: 'btn_create' %>
 <% end %>
</div>
<div class="preview">
   <label>Preview</label>
   <div id="markdown_preview"></div>
</div>
<script type="text/javascript">
   showExisting();
</script>