<div class="wiki_create">
 <%= form_for @wiki do |f| %>
   <%= f.label :title %>
   <%= f.text_field :title, class: 'create_body' %>
   <div class="create">
       <%= f.label :body %>
       <%= f.text_area :body, class: 'create_body', id: 'wiki_content' %>
   </div>
   <div class="create">
       <label>Preview</label>
       <textarea class="create_body" id="wiki_preview" readonly></textarea>
   </div>
   <% if current_user.role == 'premium' %>
     <div class="create">
         <%= f.label :private %>
         <%= f.check_box :private %>
     </div>
   <% end %> 
   <%= f.submit "Save", class: 'btn_create' %>
 <% end %>
 </div>